<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="aspq-ISAPI-4.0_32bit" />
            <remove name="aspq-Integrated-4.0" />
            <add name="poolaccountsv2handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\PoolAccountsV2\Poolaccounts_backend\venv\Scripts\python.exe|E:\PoolAccountsV2\Poolaccounts_backend\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <system.web>
        <httpRuntime enableVersionHeader="false" />
    </system.web>
</configuration>
